In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2022-02-09 16:23:27,-0.7393,-90.3518,80.56,71,40,8.23
1,1,Albany,US,2022-02-09 16:21:13,42.6001,-73.9662,38.75,60,7,3.00
2,2,Mataura,NZ,2022-02-09 16:23:28,-46.1927,168.8643,59.49,100,100,2.08
3,3,Ushuaia,AR,2022-02-09 16:23:29,-54.8000,-68.3000,56.86,41,40,14.97
4,4,Bredasdorp,ZA,2022-02-09 16:23:29,-34.5322,20.0403,78.12,47,0,21.85

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
city_data_df["Max Temp"] <= max_temp & (city_data_df["Max Temp"]>= min_temp

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_23540/2876053565.py, line 2)

In [23]:
                                        # Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2022-02-09 16:23:27,-0.7393,-90.3518,80.56,71,40,8.23
4,4,Bredasdorp,ZA,2022-02-09 16:23:29,-34.5322,20.0403,78.12,47,0,21.85
6,6,Faanui,PF,2022-02-09 16:23:30,-16.4833,-151.7500,80.60,78,64,15.90
10,10,Quatre Cocos,MU,2022-02-09 16:23:31,-20.2078,57.7625,78.91,73,32,9.17
11,11,Rikitea,PF,2022-02-09 16:23:31,-23.1203,-134.9692,78.53,68,5,15.90
24,24,Souillac,MU,2022-02-09 16:23:35,-20.5167,57.5167,79.18,73,40,0.00
27,27,Georgetown,MY,2022-02-09 16:18:37,5.4112,100.3354,80.89,92,20,0.00
28,28,Arraial Do Cabo,BR,2022-02-09 16:23:36,-22.9661,-42.0278,75.16,83,75,8.05
37,37,Cape Town,ZA,2022-02-09 16:20:32,-33.9258,18.4232,75.34,67,0,16.11
43,43,Butaritari,KI,2022-02-09 16:23:40,3.0707,172.7902,81.01,79,96,15.26

In [24]:
preferred_cities_df.count()

City_ID       164
City          164
Country       161
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0      Puerto Ayora      EC     80.56  -0.7393  -90.3518
4        Bredasdorp      ZA     78.12 -34.5322   20.0403
6            Faanui      PF     80.60 -16.4833 -151.7500
10     Quatre Cocos      MU     78.91 -20.2078   57.7625
11          Rikitea      PF     78.53 -23.1203 -134.9692
24         Souillac      MU     79.18 -20.5167   57.5167
27       Georgetown      MY     80.89   5.4112  100.3354
28  Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
37        Cape Town      ZA     75.34 -33.9258   18.4232
43       Butaritari      KI     81.01   3.0707  172.7902

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Bredasdorp,ZA,78.12,-34.5322,20.0403,Bredasdorp Country Manor
6,Faanui,PF,80.60,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
10,Quatre Cocos,MU,78.91,-20.2078,57.7625,Sunrise Attitude Hotel
11,Rikitea,PF,78.53,-23.1203,-134.9692,People ThankYou
24,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
27,Georgetown,MY,80.89,5.4112,100.3354,Cititel Penang
28,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
37,Cape Town,ZA,75.34,-33.9258,18.4232,Southern Sun Waterfront Cape Town
43,Butaritari,KI,81.01,3.0707,172.7902,Isles Sunset Lodge

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))